@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    135deg,
    #3b2f2f 0%,
    #8b6f47 40%,
    #c8a951 70%,
    #f5e1a4 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
